# Dependencies 
node_modules/ 
# Environment variables 
.env 
.env.local 
.env.production 
 
# Logs 
logs/ 
*.log 
npm-debug.log* 
 
# OS files 
.DS_Store 
Thumbs.db 
# Build output 
dist/ 
build/ 

# generated Json
family_feud_current_round.json
family_feud_round_state.json
used_questions.json
